.centering {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fade-animation {
  animation: fadeInAnimation ease 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
  }
}
h1 {
  font: bold 44px 'Montserrat';
  text-align: center;
  color: #00FF29;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header {
  animation: fadeInAnimation ease 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
  }
}
#page-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: fadeInAnimation ease 1s;
  animation-fill-mode: forwards;
  margin: 0px 30px 0px 30px;
  height: calc(100vh - 50px);
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
  }
}
#page-1 #left-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 700px;
}
#page-1 #left-side button {
  background-color: #F8F8F8;
  width: 240px;
  height: 60px;
  font: bold 28px 'Montserrat';
  cursor: pointer;
  color: #004DC1;
  border: none;
  border-radius: 10px;
}
#page-1 #left-side button:hover {
  filter: drop-shadow(0px 1px 5px #00ff15);
  transition: ease 0.4s;
}
#page-1 #left-side button:active {
  transform: scale(0.98);
}
#page-1 #left-side button:hover ~ .bg {
  background: radial-gradient(circle 110px at var(--x) var(--y), rgba(169, 242, 136, 0.4), rgba(169, 242, 136, 0));
}
.main-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 30px 0px 30px;
  margin-top: 80px;
}
#page-2 {
  width: 98%;
  height: 100vh;
  animation: fadeInAnimation ease 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
  }
}
#page-2 #description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  height: 60vh;
  font: 24px 'Montserrat';
  color: #fff;
  text-align: justify;
}
#page-2 #description div {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#page-2 #icons-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 40%;
  height: 60vh;
}
#page-2 #icons-block div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#page-2 img {
  color: transparent;
  width: 100px;
}
#page-3 {
  margin: 0px 100px 0px 100px;
  font: bold 20px 'Montserrat';
}
#page-3 .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  width: 22vw;
  height: 75vh;
  flex-direction: column;
  background: #FCFCFC;
  box-shadow: 4px 0px 4px #575757;
  border-radius: 10px;
}
#page-3 .card div {
  margin-left: 20px;
}
#page-3 .card .first-part {
  margin-top: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #343434;
}
#page-3 .card .first-part div {
  font-size: 24px;
}
#page-3 .card .second-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: 50%;
}
#page-3 .card .second-part a {
  text-decoration: none;
  color: #343434;
}
#page-3 .card .second-part a:hover {
  color: #0066ff;
}
#page-3 .card .button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
#page-3 .card .button button {
  margin: 0px 0px 30px 70px;
  width: 150px;
  height: 40px;
  font: inherit;
  border-radius: 10px;
  background-color: #5F65FF;
  color: #F8F8F8;
  cursor: pointer;
  border: none;
}
#page-3 .card .button button:hover {
  color: #00FF29;
}
#page-3 .card .button button:active {
  transform: scale(0.95);
}
@media only screen and (max-width: 993px) {
  section {
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    font-size: 28px;
  }
  #page-1 {
    margin: 0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
  }
  #page-1 #left-side {
    width: 100%;
    margin: 0;
  }
  #page-1 #left-side button {
    display: none;
  }
  #page-1 #splash {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
  }
  #page-1 #splash img {
    width: 300px;
  }
  #page-2 {
    width: 100%;
    height: 1000px;
  }
  #page-2 .main-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 900px;
  }
  #page-2 .main-page #description {
    width: 90%;
    height: 400px;
  }
  #page-2 .main-page #description div {
    font-size: 18px;
  }
  #page-2 .main-page #icons-block {
    width: 100%;
    height: 50vh;
  }
  #page-2 .main-page #icons-block div {
    width: 100%;
  }
  #page-3 {
    margin: 0;
    width: 100%;
    height: 1600px;
  }
  #page-3 .main-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 1300px;
  }
  #page-3 .main-page .card {
    width: 100%;
    height: 50vh;
  }
  #page-3 .main-page .card div {
    font-size: 20px;
    margin: 10px;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}
@media only screen and (max-width: 1024px) {
  #page-1 {
    flex-direction: column;
    height: auto;
  }
  #page-1 #left-side a button {
    display: none;
  }
  #page-2 {
    height: 1000px;
  }
  #page-3 {
    margin: 10px;
    width: 98%;
  }
  #page-3 .main-page {
    height: 600px;
  }
  #page-3 .main-page .card {
    height: 100%;
  }
  #page-3 .main-page .card .first-part {
    flex-direction: column;
  }
  #page-3 .main-page .card .button {
    margin: 0;
    width: 100%;
  }
  #page-3 .main-page .card .button button {
    margin: 0;
    margin-bottom: 10px;
  }
}
