// useful mixins and variables
.centering {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fade-animation {
    animation: fadeInAnimation ease 1s;
    animation-fill-mode: forwards;

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
        }
    }
}

@background-gradient: 
    linear-gradient(105.7deg, #4776E6 0.3%, #8E54E9 76.59%);

@text-color: #fff;
@text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
@box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
@page-margin: 0px 30px 0px 30px;

// styling
h1 {
    font: bold 44px 'Montserrat';
    text-align: center;
    color: #00FF29;
    text-shadow: @text-shadow;
}

header {
    .fade-animation();
}

#page-1 {
    .centering();
    .fade-animation();
    margin: @page-margin;
    height: calc(100vh - 50px);

    #left-side {
        .centering();
        flex-direction: column;
        width: 700px;

        button {
            background-color: #F8F8F8;
            width: 240px;
            height: 60px;
            font: bold 28px 'Montserrat';
            cursor: pointer;
            color: #004DC1;
            border: none;
            border-radius: 10px;

            &:hover {
                filter: drop-shadow(0px 1px 5px rgb(0, 255, 21));
                transition: ease 0.4s;
            }

            &:active {
                transform: scale(0.98);
            }

            &:hover ~ .bg {
                background: radial-gradient(circle 110px at var(--x) var(--y), rgba(169, 242, 136, .4), rgba(169, 242, 136, 0));
            }
        }
    }   
}

.main-page {
    .centering();
    margin: @page-margin;
    margin-top: 80px;
}

#page-2 {
    width: 98%;
    height: 100vh;
    .fade-animation();

    #description {
        .centering();
        flex-direction: column;
        width: 50%;
        height: 60vh;
        font: 24px 'Montserrat';
        color: @text-color;
        text-align: justify;

        div {
            text-shadow: @text-shadow;
        }
    }

    #icons-block {
        .centering();
        flex-direction: column;
        width: 40%;
        height: 60vh;

        div {
            .centering();
            width: 70%;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
        }
    }

    img {
        color: transparent;
        width: 100px;
    }
}

#page-3 {
    margin: 0px 100px 0px 100px;
    font: bold 20px 'Montserrat';

    .card {
        .centering();
        align-items: flex-start;
        width: 22vw;
        height: 75vh;
        flex-direction: column;
        background: #FCFCFC;
        box-shadow: 4px 0px 4px rgb(87, 87, 87);
        border-radius: 10px;

        div {
            margin-left: 20px;
        }

        .first-part {
            margin-top: 10px;
            width: 80%;
            .centering();
            color: #343434;

            div {
                font-size: 24px;
            }
        }

        .second-part {
            .centering();
            flex-direction: column;
            align-items: flex-start;
            height: 50%;

            a {
                text-decoration: none;
                color: #343434;

                &:hover {
                    color: #0066ff;
                }
            }
        }

        .button {
            .centering();
            justify-content: center;

            button {
                margin: 0px 0px 30px 70px;
                width: 150px;
                height: 40px;
                font: inherit;
                border-radius: 10px;
                background-color: #5F65FF;
                color: #F8F8F8;
                cursor: pointer;
                border: none;

                &:hover {
                    color: #00FF29;
                }

                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }
}

// Adaptive and Responsive
@media only screen and (max-width: 993px){
    section {
        width: 98vw;
        .centering();
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-size: 28px;
    }

    #page-1 {
        margin: 0;
        height: 500px;
        .centering();
        justify-content: center;

        #left-side {
            width: 100%;
            margin: 0;

            button {
                display: none;
            }
        }

        #splash {
            width: 100%;
            .centering();
            justify-content: center;

            img {
                width: 300px;
            }
        }
    }

    #page-2 {
        width: 100%;
        height: 1000px;

        .main-page {
            .centering();
            flex-direction: column;
            height: 900px;

            #description {
                width: 90%;
                height: 400px;

                div {
                    font-size: 18px;
                }
            }

            #icons-block {
                width: 100%;
                height: 50vh;
                div {
                    width: 100%;
                }
            }
        }
    }

    #page-3 {
        margin: 0;
        width: 100%;
        height: 1600px;

        .main-page {
            .centering();
            flex-direction: column;
            height: 1300px;

            .card {
                width: 100%;
                height: 50vh;

                div {
                    font-size: 20px;
                    margin: 10px;
                }
            }
        }

    }

    footer {
        .centering();
        flex-direction: column;
    }
}

@media only screen and (max-width: 1024px) {

    #page-1 {
        flex-direction: column;
        height: auto;
        
        #left-side {

            a {
                button {
                    display: none;
                }
            }
        }
    }

    #page-2 {
        height: 1000px;
    }

    #page-3 {
        margin: 10px;
        width: 98%;

        .main-page {
            height: 600px;

            .card {
                height: 100%;

                .first-part {
                    flex-direction: column;
                }

                .button {
                    margin: 0;
                    width: 100%;

                    button {
                        margin: 0;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
