body {
    width: 99%;
    background: @background-gradient;
    margin: 0px 10px 0px 10px;
    height: 2650px;
}

//useful mixins & variables
.centering {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hover-text-transition {
    transition: ease 500ms;
}

.fade-animation {
    animation: fadeInAnimation ease 1s;
    animation-fill-mode: forwards;

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
        }
    }
}

@background-gradient: 
    linear-gradient(105.7deg, #4776E6 0.3%, #8E54E9 76.59%);

@text-color: #fff;
@text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
@box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// Styling
header {
    .centering()!important;
    .fade-animation();
    padding: 10px 0px 0px 10px;
    width: 98%;

    .menu {
        width: 1000px;
    }

    ul {
        .centering();
        list-style: none;
        font-family: Montserrat;
        font-weight: bold;
        padding: 0;
        height: 40px;

        li {
            width: 200px;
            .centering();
            justify-content: center;
            height: 100%;
        }
        
        li a {
            text-decoration: none;
            color: @text-color;
            font-size: 18px;
            text-shadow: @text-shadow;

            &:hover {
                color: #00ff0d;
                .hover-text-transition();
            }
        }
    }

    .active {
        background-color: #6e98fc;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        a {
            color: #ffffff;
        }
    }

    #user {
        width: 100px;
        .centering();

        img {
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

            &:hover {
                filter: drop-shadow(0px 1px 2px rgb(0, 255, 21));
            }
        }
    }
}

.logo {
    font-family: Outfit;
    font-weight: bold;
    font-size: 36px;
    a {
        text-decoration: none;
        color: @text-color;
        text-shadow: @text-shadow;
    }
}

footer {
    .centering()!important;
    padding: 30px 50px 0px 50px;
    margin-top: 100px;
    border-top: #00FF29 solid;
    height: 35vh;
    color: #fff;
    font: 550 22px 'Montserrat';
    text-shadow: @text-shadow;

    a {
        color: rgba(255, 255, 255, 0.842);
        text-decoration: none;
        text-shadow: @text-shadow;

        &:hover {
            color: #00FF29;
            .hover-text-transition();
        }
    }

    #navigation {
        .centering();
        width: 20vw;
        height: 30vh;
        flex-direction: column;
        align-items: flex-start;

        #menu-block {
            margin-top: 20px;
            .centering();
            font-size: 18px;
            align-items: flex-start;
            flex-direction: column;
            height: 100%;
            width: 100%;
        }
    }

    #follow {
        .centering();
        flex-direction: column;
        align-items: flex-start;
        height: 100px;
        
        .links {
            .centering();
            width: 100%;

            a:hover {
                transform: translateY(-5px);
                transition: ease 300ms;
            }

            img {
                filter: drop-shadow(0px 1px 3px rgba(41, 41, 41, 0.5));
            }
        }
    }

    #info {
        .centering();
        flex-direction: column;
        font-size: 18px;
        text-align: center;
        width: 30%;
        height: 30vh;
    }
}