body {
    width: 99%;
    background: @background-gradient;
    margin: 0px 10px 0px 10px;
    height: 3000px;
}

.centering {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@background-gradient: 
    linear-gradient(105.7deg, #4776E6 0.3%, #8E54E9 76.59%);

@text-color: #fff;
@text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
@box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

header {
    .centering();
    padding: 15px 0px 0px 10px;
    width: 98%;

    .menu {
        width: 900px;
    }

    ul {
        .centering();
        list-style: none;
        font-family: Montserrat;
        font-weight: bold;
        padding: 0;
        margin: 0;
        
        li a {
            text-decoration: none;
            color: @text-color;
            font-size: 18px;
            text-shadow: @text-shadow;
        }
    }

    #user {
        width: 100px;
        .centering();

        img {
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }
}

.logo {
    font-family: Outfit;
    font-weight: bold;
    font-size: 36px;
    a {
        text-decoration: none;
        color: @text-color;
        text-shadow: @text-shadow;
    }
}

footer {
    .centering();
    padding: 50px 50px 0px 50px;
    margin-top: 100px;
    border-top: #00FF29 solid;
    height: 35vh;
    color: #fff;
    font: 550 22px 'Montserrat';

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            color: #00FF29;
        }
    }

    #navigation {
        .centering();
        width: 20vw;
        height: 30vh;
        flex-direction: column;
        align-items: flex-start;

        #menu-block {
            margin-top: 20px;
            .centering();
            font-size: 18px;
            align-items: flex-start;
            flex-direction: column;
            height: 100%;
            width: 100%;
            font-weight: lighter;
        }
    }

    #follow {
        .centering();
        flex-direction: column;
        align-items: flex-start;
        height: 100px;
        
        .links {
            .centering();
            width: 100%;

            a:hover {
                transform: translateY(-5px);
                transition: ease-in-out 300ms;
            }
        }
    }

    #info {
        .centering();
        flex-direction: column;
        font-size: 18px;
        text-align: center;
        width: 30%;
        height: 30vh;
    }
}