.font {
  font: 600 18px 'Montserrat' !important;
}
.centering {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-styling {
  width: 120px!important;
  height: 30px;
  background-color: #5F65FF;
  color: #fff;
  font: 600 18px 'Montserrat' !important;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.button-styling:hover {
  transform: translateY(-3px);
  transition: ease 0.4s;
}
.button-styling:active {
  transform: scale(0.98);
}
section .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: 600 18px 'Montserrat' !important;
  width: 330px!important;
}
section .card .first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 10px!important;
}
section .card .first img {
  width: 140px!important;
}
section .card .first div {
  margin-left: 10px;
}
section .card .second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 98%;
  font-size: 16px!important;
}
section .card button {
  width: 120px!important;
  height: 30px;
  background-color: #5F65FF;
  color: #fff;
  font: 600 18px 'Montserrat' !important;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px!important;
}
section .card button:hover {
  transform: translateY(-3px);
  transition: ease 0.4s;
}
section .card button:active {
  transform: scale(0.98);
}
